#project-form {
    visibility: hidden;
}

.project-block {
    display: flex;
}

.project {
    margin-right: 1rem;
}

.delete-project-btn {
    cursor: pointer;
    visibility: hidden;
}

.project-block:hover .delete-project-btn {
    visibility: visible;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #222;
    line-height: 1.5;
    font-size: 16px;
    font-family: sans-serif;
}

#header {
    background: #e5e5e5;
    height: 14vh;
    display: flex;
    align-items: center;
}